@media (min-width: 48rem){

    body {
        padding: 8.1rem 7.8rem;

    }

    .main-container {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "user user user"
            "work play study"
            "exercise social selfCare"
        ;
        gap: 2.4rem;
        width: 100%;
    }

    .user-contaier__period{
        gap: 7rem;
    }

    .svg-section {
        height: 3.3rem;
    }

    .todo__time-section {
        padding: 2.4rem;
        gap: 1.6rem
    }

    .todo__time-section--statistics {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        text-align: right;
        gap: 0.8rem;
    }

    .todo__time-section--statistics__hours{
        font-size: 5.6rem;
        font-weight: 300;
        line-height: 6.6rem;
        letter-spacing: 0;
    }
}



@media (min-width: 64rem){
    .user-contaier__period{
        gap: 19rem;
    }
}


@media (min-width: 90rem){

    body {
        padding: 8.1rem 16.2rem;

    }

    .main-container {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "user work play study"
            "user exercise social selfCare"
        ;
        gap: 3.2rem;
        width: 100%;
    }

    .user-container {
        height: 100%;
    }

    .user-container__user-info{
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
    }

    .user-container__user-info__username__name{
        font-size: 4rem;
        font-weight: 300;
        line-height: 4.7rem;
        letter-spacing: 0;
    }

    .user-contaier__period{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2.1rem;
        min-height: 16.6rem;
        padding-left: 3.2rem;
    }

    .svg-section {
        height: 4.5rem;
    }
}