:root{
    --text-main-color: #FFFFFF;
    --text-secundary-color: #BBC0FF;
    --background-color: #0E1323;
    --card-color: #1C204B;
    --user-card-color: #5747EA;
    --work-main-color: #FF8B64;
    --play-main-color: #55C2E6;
    --study-main-color: #FF5E7D;
    --exercise-main-color: #4BCF82;
    --social-main-color: #7335D2;
    --self-care-main-color: #F1C75B;
}

